table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td,
th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}
td {
	font-weight: inherit;
	color: black;
}
/* Fines de semana */
.b {
	background-color: aquamarine;
}
/* Dias otro mes */
.c {
	background-color: grey;
}
/* DOMINGOS */
.d {
	color: red;
}
/* CUMPLEAÑOS JERO */
#jero {
	color: red;
	background-color: yellow;
}
/* CUMPLEAÑOS OMAR */
#omar {
	color: blue;
	background-color: #ab2a3e;
}
/* ALINEAR EN EL CENTRO */
h1 {
	text-align: center;
}
